
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.avatar-img {
    @include sizes(120px, 120px);
    border-radius: 50%;
}

.form-group {
    .info {
        padding-top:7px
    }
    button {
        padding: 6px 16px;
        margin: 16px 0;
    }
    .avatar-img {
        @include sizes(80px, 80px);
    }
}

.navbar-right {
    .avatar-img {
        @include sizes(30px, 30px);
        margin-right: 8px;
    }
    .dropdown-menu li {
        a { padding-left: 14px; }
        i { margin-right: 8px; }
    }
}
