
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.avatar-img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

.form-group {
    .info {
        padding-top:7px
    }
    button {
        padding: 6px 16px;
        margin: 16px 0;
    }
    .avatar-img {
        max-width: 80px;
        max-height: 80px;
    }
}

.navbar-right {
    .dropdown-menu li {
        a { padding-left: 14px; }
        i { margin-right: 8px; }
    }
}
